@using System.Globalization
@model eDietetyk.Models.DietsViewModel
<div class="till" id="diets">
    <h2>Dieta</h2>
    <article>
        @if (Model.IsData)
        {
            <span>@Model.Info.</span>
            <br /><br />
            <p>
                <label>Twoje BMI: </label>
                <span>@Model.Bmi.ToString(CultureInfo.InvariantCulture) - @Model.BmiInfo</span>
            </p>
            <p>
                <label>Kalorie zalecane na dziś:</label>
                <span>@(Model.TargetCalories) kcal</span>
            </p>
            <p>
                <label>Dzisiaj spożyłeś już: </label>
                <span>@(Model.CurrentCalories) kcal</span>
            </p>
            <p>
                <label>Możesz zjeść jeszcze: </label>
                <span>@Model.LeftCalories kcal</span>
            </p>

            if (Model.IsExceededCalories)
            {
                <p class="text-center" style="color: red">
                    <label>Przekroczyłeś dzienny limit kalorii!!!</label><br />
                </p>
            }

        }
        else
        {
            <text>@Html.Partial("_NoData", new eDietetyk.Models.NoDataModel { Message = "Aby uzyskać informacje na temat diety, uzupełnij matrykę oraz zdefiniuj cele" })</text>
        }
    </article>
</div>