@using eDietetyk.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="~/Content/images/loginlogo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span id="reauth-email" class="reauth-email"></span>
            @Html.TextBoxFor(x=>x.Email, new { @class= "form-control", id="inputEmail", placeholder="Adres email", type="email", required = "", autofocus =""})
            @Html.PasswordFor(x => x.Password, new { @class = "form-control inputPassword", id = "inputPassword", placeholder = "Hasło", required = ""})
            <div id="remember" class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Zapamiętaj mnie
                </label>
            </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zaloguj</button>
        }
        <a href="#" class="forgot-password">
            @Html.ActionLink("Zapomniałeś hasła?", "ForgotPassword") @Html.ActionLink("Zarejestruj się", "Register",null,new { id="register-link"})
        </a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}