@model eDietetyk.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="~/Content/images/loginlogo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span id="reauth-email" class="reauth-email"></span>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "inputEmail", placeholder = "Adres email", type = "email", required = "asdasd", autofocus = "" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control inputPassword", placeholder = "Hasło", required = "" })
            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control inputPassword", placeholder = "Powtórz hasło", required = "" })
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zarejestruj się</button>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
