@model IEnumerable<eDietetyk.UserMeals>

<div class="till" id="meals">
    <h2>Twoje posiłki</h2>
    <article>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="meal">
                    <div class="meal-title">
                        <div class="col-sm-9">@item.Meals.Name</div>
                        <div class="col-sm-3">@item.CreateDate.ToShortTimeString()</div>
                    </div>
                    <div class="meal-summary">
                        <div class="col-sm-3"><b>@(item.Weight)g</b></div>
                        <div class="col-sm-3 protein"><i></i><span>@(item.Meals.Protein)g</span></div>
                        <div class="col-sm-3 fat"><i></i><span>@(item.Meals.Fat)g</span></div>
                        <div class="col-sm-3 sugar"><i></i><span>@(item.Meals.Sugar)g</span></div>
                    </div>
                </div>
            }
        }
        else
        {
            <text>
                @Html.Partial("_NoData", new eDietetyk.Models.NoDataModel { Message = "Podaj co dzisiaj zjadłeś." })
            </text>
        }

    </article>
    <aside class="text-center">
        <a href="/UserMeals/Add" class="btn btn-primary">Dodaj</a>
    </aside>
</div>
