@model eDietetyk.Metrics

<div class="container">
    <div class="form form-container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 class="text-center">Określ swoje cele:</h4>
                <hr />

                @if (!string.IsNullOrEmpty(ViewBag.Errors))
                {
                    <div class="alert alert-danger">
                        <p>
                            @ViewBag.Errors
                        </p>
                    </div>
                }

                <div class="form-group">
                    <label class="control-label col-md-7">Waga:</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @if (Model.Chest.HasValue)
                {
                    <div class="form-group">
                        <label class="control-label col-md-7">Obwód klatki piersiowej:</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Chest, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

                @if (Model.Waist.HasValue)
                {
                    <div class="form-group">
                        <label class="control-label col-md-7">Obwód pasa:</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Waist, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

                @if (Model.Thigh.HasValue)
                {
                    <div class="form-group">
                        <label class="control-label col-md-7">Obwód ud:</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Thigh, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

                @if (Model.Arm.HasValue)
                {
                    <div class="form-group">
                        <label class="control-label col-md-7">Obwód ramion:</label>
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Arm, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

                <p style="font-size: 12px; color: #428BCA">* Pola z metrykami partii ciała widoczne po podaniu dla nich metryk.</p>

                <hr />
                <div class="form-group">
                    <div class="col-md-6">
                        <input type="submit" value="Zapisz" class="btn btn-primary" />
                    </div>

                    <div class="col-md-6 text-right">
                        <a href="/Home/Index" class="btn btn-default">Anuluj</a>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

