@model Metrics

<div class="till" id="target">
    <h2>Cele</h2>
    <article class="text-center">
        @if (Model == null)
        {
            string message =  "Podaj swoje cele";

            <text>
                @Html.Partial("_NoData", new eDietetyk.Models.NoDataModel { Message =  message})
            </text>
        }
        else
        {
            <div class="item">
                <div class="col-sm-6">
                    <label class="control-label">Waga:</label>
                </div>
                <div class="col-sm-6">
                    <span>@(Model.Weight.ToString("###,#")) kg</span>
                </div>
            </div>

            if (Model.Waist.HasValue)
            {
                <div class="item">
                    <div class="col-sm-6">
                        <label class="control-label">Obwód w pasie:</label>
                    </div>
                    <div class="col-sm-6">
                        <span>@(Model.Waist.ToString()) cm</span>
                    </div>
                </div>
            }

            if (Model.Thigh.HasValue)
            {
                <div class="item">
                    <div class="col-sm-6">
                        <label class="control-label">Obwód uda:</label>
                    </div>
                    <div class="col-sm-6">
                        <span>@(Model.Thigh.ToString()) cm</span>
                    </div>
                </div>
            }

            if (Model.Arm.HasValue)
            {
                <div class="item">
                    <div class="col-sm-6">
                        <label class="control-label">Obwód ramion:</label>
                    </div>
                    <div class="col-sm-6">
                        <span>@(Model.Arm.ToString()) cm</span>
                    </div>
                </div>
            }

            if (Model.Chest.HasValue)
            {
                <div class="item">
                    <div class="col-sm-6">
                        <label class="control-label">Klatka piersiowa:</label>
                    </div>
                    <div class="col-sm-6">
                        <span>@(Model.Chest.ToString()) cm</span>
                    </div>
                </div>
            }

            <br />
            <div class="item text-center">
                <span>Cele zdefiniowano: @Model.CreateDate.ToString("dd.MM.yyyy")</span>

            </div>

        }
    </article>
    <aside class="text-center">
        <a href="/Target/Add" class="btn btn-primary">@(Model==null? "Dodaj": "Zmień")</a>
    </aside>
</div>
