@{
    ViewBag.Title = "Home Page";
}



<main class="till-container">
    
    @Html.Action("GetPanel","Metrics")

    @Html.Action("GetPanel","Target")


    @Html.Action("GetPanel", "UserMeals")

    @Html.Action("GetPanel","Diets")


    @Html.Action("GetPanel", "Progress")
</main>