@model Metrics

<div class="till" id="metrics">
    <h2>Metryka</h2>
    <article>
        <img src="~/Content/images/human-body.png" />

            <span id="metrics-height">@Model.Height</span>

        <div>
            <label>Waga</label><span>@Model.Weight</span>
        </div>
        <div>
            <label>Obwód w pasie</label><span>@Model.Waist</span>
        </div>
        <div>
            <label>Obwód ud</label><span>@Model.Thigh</span>
        </div>
        <div>
            <label>Obwód ramion</label><span>@Model.Arm</span>
        </div>
        <div>
            <label>Obwód w klatce piersiowej</label><span>@Model.Chest</span>
        </div>
    </article>
    <aside>
        <a href="/Metrics/Add" class="btn btn-primary">Dodaj</a>
    </aside>
</div>
